.LoginCard {
    text-align: center;
}

.LoginCardHeader {
    text-align: center;
    font-size: 30px;
}

.LoginCard .forgot-password {
    font-size: 10px;
}

.test-list{
  width:100%;
}

.menu-box{
  float: left;
  padding: 10px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}