*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  font: 16px 'Roboto', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: #f6f6f6;
}

.app {
  box-sizing: border-box;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  background: 'yellow';
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
}

.header:hover,
.main:hover,
.footer:hover{
  box-shadow: 0 0 2rem black;
}

.header {
  width: 100%;
  transition: 200ms;
  display: block;
  text-transform: uppercase;

  border: 0px solid transparent;
  border-radius: 15px;
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  text-align: center;
  justify-content: center;
  transition: 200ms;

  flex: 1 1 auto;
  color: white;
  background: #51799F;

  position: relative;

  border: 0px solid transparent;
  border-radius: 15px;
}

.main > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  width: 100%;
  text-align: center;
  transition: 200ms;

  border: 0px solid transparent;
  border-radius: 15px;
}
