*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  font: 16px 'Roboto', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: #C2D0DE;
}

.app {
  box-sizing: border-box;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  background: 'yellow';
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
}

.header:hover,
.main:hover,
.footer:hover{
  box-shadow: 0 0 2rem black;
}

.header {
  width: 100%;
  transition: 200ms;
  display: block;
  text-transform: uppercase;

  border: 0px solid transparent;
  border-radius: 15px;
}

.main {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  text-align: center;
  justify-content: center;
  transition: 200ms;

  flex: 1 1 auto;
  color: white;
  background: #51799F;

  position: relative;

  border: 0px solid transparent;
  border-radius: 15px;
}

.main > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  width: 100%;
  text-align: center;
  transition: 200ms;

  border: 0px solid transparent;
  border-radius: 15px;
}

/* RGL styles */
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
