*{
  box-sizing: border-box;
}

.USETT-outer-box {
  margin: auto;
  width: 75%;
  height: 90%;
  padding: 20px;
  overflow: auto;
}

.card-padding{
  padding: 20px;
}

.USETT-float-left{
  float: left;
  width: 50%;
}

.USETT-float-right{
  float: right;
  width: 50%;
}
